<%= form_with(model: interaction_event, local: true) do |form| %>
  <% if interaction_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interaction_event.errors.count, "error") %> prohibited this interaction_event from being saved:</h2>

      <ul>
        <% interaction_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_type_id %>
    <%= form.text_field :event_type_id %>
  </div>

  <div class="field">
    <%= form.label :interaction_id %>
    <%= form.text_field :interaction_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
